#root {
  --main-color: #ff6026;
  --secondary-color: #312b9d;

  --main-background-color: #f7f5fa;

  --main-gray-text-color: #4d4d4d;
  --secondary-gray-text-color: #8c8b8c;
  --secondary-gray-text-color-transparent: #8c8b8c4b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-gray-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imageOuter {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.singleOuter {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.width100 {
  width: 100%;
}

.textAlignCenter {

}

.singleInner {
  position: absolute;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%;
  left: 30%;
}

.backgroundImage {
  height: 100vh;
  width: 100vw;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('./images/clinic.jpg');
  background-size: auto 

}

.imageInner{
  position: absolute;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%;
  left: 30%;
}

.lightTextWeight {
  font-weight: 100 !important;
}

.SignInEmailInput, .SignUpEmailInput {
  display: block;
  text-indent: 2vw;
  margin: 20px 15px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 1.6rem;
  border-radius: 20px;
  width: 35vw;
  border: 1px solid var(--main-gray-text-color);

}

.SignInEmailInput:focus, .SignUpEmailInput:focus {
  outline: none;
}

.SignInPasswordInput, .SignUpPasswordInput {
  display: block;
  margin: 20px 15px;
  text-indent: 2vw;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  width: 35vw;
  height: 1.6rem;
  border: 1px solid var(--main-gray-text-color);
}

.SignInPasswordInput:focus, .SignUpPasswordInput:focus {
  outline: none;
}

.correctEnteredField {
  border: 1px solid greenyellow
}

.wrongEnteredField {
  border: 1px solid red;
}

.SignInSubmit, .SignUpSubmit {
  display: block;
  margin: 10px auto;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 0.9rem;
  border: none;
  color: var(--main-background-color);
  background-color: var(--main-color);
}



.signInForgotPasswordLink, .SignUpSignInLink {
  color: var(--secondary-gray-text-color);
  font-size: 1rem;
  text-align: center;
  margin-top: 25vh;
}

.signInForgotPasswordLink:hover, .SignUpSignInLink:hover {
  cursor: pointer;
}

























