#root {
  --main-color: #ff6026;
  --secondary-color: #312b9d;

  --main-background-color: #f7f5fa;

  --main-gray-text-color: #4d4d4d;
  --secondary-gray-text-color: #8c8b8c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
